<!DOCTYPE html>
<html>
<head>
    <title>Deleted</title>
    <meta http-equiv="refresh" content="2;url=/admin" />
    <style>
        body {
            background: #111;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial;
        }
        .box {
            background: #222;
            padding: 25px;
            border-radius: 10px;
            text-align: center;
        }
        .cross {
            font-size: 35px;
            color: red;
        }
    </style>
</head>
<body>

<div class="box">
    <div class="cross">🗑️</div>
    <h2>Deleted Successfully</h2>
    <p>Redirecting...</p>
</div>

</body>
</html>